@font-face {
  font-family: 'Outage';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Outage.ttf);
}

@font-face {
  font-family: 'Oslo II';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Aaargh.ttf);
}
body {
  font-family: sans-serif;
}
a {
  color: lime;
  transition: text-shadow, color, .5s;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #edf36d;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  transition: text-shadow, color, .5s;
}
.container{
  padding-bottom: 10em;
  background-color: #53A41E;
  width: 100%;
  padding-top: 10em;
  font-size: 1.875em;
}
.intro {
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  width: 100%;
  font-family: 'Outage';
  margin-left: auto;
  z-index: 1;
  background-color: #53A41E;
  color: black;
  left: 11.5%;
  top: -200px;
  text-align: center;
}
.introText{
  display: inline;
}
.icons{
  display: inline;
  padding: 0;
}
.social{
  position: relative;
  top: .2em;
  text-decoration: none;
  display: none;
}
.social img{
  height: 1em;
}
.visible{
  display: inline;
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: .5s;
  -webkit-animation-duration: .5s;
}

.caption{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #53A41E;
}
.ruby{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: .5s;
  -webkit-animation-duration: .5s;

}
.js{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
}
.htmlcss{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
}
.projectsContainer{
  background-color: #5D5F5E;
}
.project{
  border: 3px solid #EAF0E9;
  background-color: #EAF0E9;
  display: inline-block;
}
.project > a{
  color: black;
}
.plus {
    font-size: 200%;
}
.project > a > img {
  width: 100%;
  height: 22em;
}
.technologies{
  list-style-type: square;
}
li {
  display: inline;
}
.bullet{
  height: 10px;
}
.description{
  background-attachment: top;
  font-family: 'Oslo II';
  font-size: 1em;
  background-color: #bdc7bd;
  opacity: 0;
  height: 100%;
  position: relative;
  color: white;
  transition: opacity, 1s;
}

.text {
  z-index: 1;
  margin-top: 9em;
  padding: 1em;
  color: white;
  /*text-align: center;*/
  background-color: #353333;
}
.right{
  float: right;
  /*position: absolute;*/
}

.section{
  vertical-align: middle;
  /*height: 16.1em;*/
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Oslo II';
  margin: auto;
  /*padding-top: 5em;*/
  font-size: 1.5em;
}
.dbc {
  padding:  0;
}
.pic{
  margin: 0 3em 0 3em;
}
.jordan{
  top: 2em;
  border-radius: 100%;
}
.dbc .pic{
  display: inline;
  float: right;
}
.about{
  background: url(../images/oakland_night_skyline_web_by_thedude2.jpg);
  background-position: center;
  background-attachment: fixed;
  height: 25em;
  font-family: 'Oslo II';
  display: block;
  text-align: center;
  font-size: 2em ;
}
.about .words{
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
  color: white;
  font-size: 2em;
  max-width: 55%
  margin-top: -14.875em;
  padding: 2em;
  padding-top: 4.82em;
  padding-bottom: 4.9em;
  text-align: center;
  background: none;
}

.dbc .text{
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin: 0;
}
.bootTrack{
  padding: 1em;
  text-align: center;
}

.light{
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.thinkfulText{
  padding: 2em 0 2em 0;
  margin: 0;
  float: right
}
.thinkful .pic{
  float: left;
  height: 3em;
}
.description:hover{
  transition: opacity, 1s;
  opacity: .94;
}
.displayInline{
  display: inline;
}
.fixed {
  top: 0;
  position: fixed;
}
.footer{
  margin-top: 1em;
  font-size: .4em;
  text-align: center;
  color:  white;
}
.textLeft{
  text-align: left;
}
.textCenter{
  text-align: center;
}


@-webkit-keyframes arrowFadeOut {
  0% {
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
}
.arrowFadeOut {
  -webkit-animation-name: arrowFadeOut;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  /*animation-name: fadeOut;*/
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/*Media Queries*/

@media screen and (max-width: 1440px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
      /*transform: translateX(0);*/
    }

    100% {
      -webkit-transform: translateX(-11.5%);
      /*transform: translateX(100%);*/
    }
  }
  .intro{
      /*padding-right: 66%;*/
  }
  .textRight{
    text-align: right;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
    .about .text{
    margin-left: 20%;
    width: 73%;
  }
}
@media (min-width: 320px) and (max-width: 374px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
      /*transform: translateX(0);*/
    }

    100% {
      -webkit-transform: translateX(-11.5%);
      /*transform: translateX(100%);*/
    }
  }
  .textLeft{
    font-size: 1em;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
  }
  .about .text{
    margin-left: 27%;
    width: 70%
  }
}
@media screen and (min-width: 1600px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
      /*transform: translateX(0);*/
    }

    100% {
      -webkit-transform: translateX(-16%);
      /*transform: translateX(100%);*/
    }
  }
  .intro{
      padding-right: 66%;
  }
  .caption{
      margin-bottom: 26em;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
  .about .text{
    margin-left: 21%;
  }

}
@media screen and (min-width: 1920px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
      /*transform: translateX(0);*/
    }

    100% {
      -webkit-transform: translateX(-16%);
      /*transform: translateX(100%);*/
    }
  }
  .intro{
      padding-right: 66%;
  }
  .caption{
      margin-bottom: 26em;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
    .about .text{
    margin-left: 18%;
    width: 77%;
    padding-bottom: 6.2em;
  }
}
@media (min-width: 375px) and (orientation: portrait){
  .textLeft{
    text-align: center;
  }
  .textLeft .introText{
    display: none;
  }
  .intro img{
    height: 2.5em;
    text-align: center;
  }
  .introText{
    display: inherit;
  }
  .icons{
    display: inline;
    padding: 0;
  }
  .icons li{
    margin: 0 2% 0 2%;
  }
  .about{
    height:20em;
    background-position: center bottom;
  }
  .mail{
    margin-right: 1%;
  }
  .thinkful .pic{
    height: 2em;
    float: right;
  }
  .thinkfulText{
    float: none;
  }
  .footer{
    font-size: 1em;
  }
}

.hidden{
  display: none;
}