
@font-face {
  font-family: 'Outage';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Outage.ttf);
}
@font-face {
  font-family: 'Oslo II';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OstrichSans-Medium.otf);
}
html{
  background-color: #484f48;
}
body {
  background-color: #74ed2f;
  font-family: sans-serif;
}
a {
  color: #ec7b08;
  transition: text-shadow, color, .5s;
}
a:hover {
  color: black;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
  transition: text-shadow, color, .5s;
}
.container{
  width: 100%;
  padding-top: 10em;
  font-size: 30px;
}
.intro {
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  width: 100%;
  font-family: 'Outage';
  margin-left: 31%;
  background-color: #74ed2f;
}
.social{
  position: relative;
  top: .2em;
  text-decoration: none;
  display: none;
}

.visible{
  display: inline;
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: .5s;
  -webkit-animation-duration: .5s;
}

.caption{
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 20em;
  text-align: center;
}
.ruby{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: .5s;
  -webkit-animation-duration: .5s;

}
.js{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
}
.htmlcss{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
}
.projectsContainer{
  padding-top: 5em;
  background-color: #484f48;
}
.project{

}
.description{
  text-align: center;
  font-family: 'Oslo II';
  font-size: 3em;
  background-color: #484f48;
  opacity: 0;
  padding-top: 3em;
  padding-bottom: 2em;
  position: relative;
  color: white;
  transition: opacity, 1s;
}
.bootTrack{
  background-image: url("../images/boottrack.png");
  margin-top: 30em;
  padding-top: 5em;
  padding-bottom: 26em;
  height: 1em;
  top: -2em;
  margin-bottom: 2em;
}
.bootTrack > .description {
  padding-bottom: .8em;
  top:-2em;
}
.wackOverflow{
  background-image: url("../images/wackoverflow.png");
  height: 25em;
  margin-top: 42em;
  margin-bottom: 42em;
}
.missionTracker{
  margin-top: 10em;
  margin-bottom: 10em;
  background-image: url("../images/missiontracker.png");
}

.missiontracker > .description{
  top: 0;
}

.description:hover{
  transition: opacity, 1s;
  opacity: .8;
}
.fixed {
  z-index: 10;
  display: inline;
  top: 0;
  position: fixed;
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-31%);
    transform: translateX(100%);
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideIn;
  animation-duration: 1s;
}
