@font-face {
  font-family: 'Outage';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Outage.ttf);
}

@font-face {
  font-family: 'Aaargh';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Aaargh.ttf);
}
li {
  display: inline;
}
.landing {
  padding-bottom: 10em;
  background-color: #53A41E;
  width: 100%;
  padding-top: 10em;
  font-size: 1.875em;
}
.intro {
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  font-family: 'Outage';
  background-color: #53A41E;
  text-align: center;
}
.icons{
  display: inline;
  padding: 0;
}
.social{
  position: relative;
  top: .2em;
  text-decoration: none;
  display: none;
}
.ruby{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: .5s;
  -webkit-animation-duration: .5s;

}
.js{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
}
.htmlcss{
  -webkit-animation-name: fadeIn;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1.5s;
}
.caption{
  font-size: .8em;
  text-align: center;
}
.text {
  padding: 1em;
  font-size: 1.2em;
  background-color: #D0D1D0;
  font-family: 'verdana', sans-serif;
}
.circle{
  border-radius: 100%;
}
