@media screen and (max-width: 1440px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-11.5%);
    }
  }
  .textRight{
    text-align: right;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
}
@media (min-width: 320px) and (max-width: 374px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-11.5%);
    }
  }
  .textLeft{
    font-size: 1em;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
  .pic{
    display: none;
  }
}
@media screen and (min-width: 1600px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-11.5%);
      transform: translateX(-11.5%);
    }
  }
    .project > a > img {
    height: 22em;
  }

  .caption{
      margin-bottom: 26em;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
}
@media screen and (min-width: 1920px){
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(-11.5%);
      transform: translateX(-11.5%);
    }
  }
  .caption{
      margin-bottom: 26em;
  }
  .slideIn {
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 1s;
  }
  .about .text{
    padding-bottom: 6.2em;
  }
  .dbc .pic {
    padding-top: 0;

  }

}
@media (min-width: 375px) and (orientation: portrait){
  .textLeft{
    text-align: center;
  }
  .pic{
    display: none;
  }
  .dbc .pic{
    display: none;
  }
  .textLeft .introText{
    display: none;
  }
  .intro img{
    height: 2.5em;
    text-align: center;
  }
  .caption{
    margin-bottom: 0px;
  }
  .introText{
    display: inherit;
  }
  .project{
    margin: 0 0 1em 0;
  }
  .icons{
    display: inline;
    padding: 0;
  }
  .icons li{
    margin: 0 2% 0 2%;
  }
  .about{
    height:20em;
    background-position: center bottom;
  }
  .mail{
    margin-right: 1%;
  }
  .thinkfulText{
    float: none;
  }
  .buffer{
    font-size: 6em;
  }
  .footer{
    font-size: 1em;
  }
  .about{
    display: none;
  }
  .span_1 { width: 8.33333333333%; }
  .span_2 { width: 16.6666666667%; }
  .span_3 { width: 25%; }
  .span_4 { width: 33.3333333333%; }
  .span_5 { width: 100%; }
  .span_6 { width: 100%; }
  .span_7 { width: 100%; }
  .span_8 { width: 100%; }
  .span_9 { width: 100%; }
  .span_10 { width: 100%; }
  .span_11 { width: 100%; }
  .span_12 { width: 100%; }
}

