/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 48.2%;
}

/*  GO FULL WIDTH AT LESS THAN 1000 PIXELS */

@media only screen and (max-width: 1000px) {
	.span_2_of_2 {
		width: 100%;
	}
	.span_1_of_2 {
		width: 100%;
	}
}